@page "/projects/new"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stroom.Client.Services
@using Stroom.Shared
@using Stroom.Shared.Models
@using Stroom.Client.Components
@using static Stroom.Shared.Enums.TaskPropertiesEnums
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ITasksService TasksService
@inject IProjectsService ProjectsService

<PageTitle>Add new project</PageTitle>

<div>
    <ProjectForm @bind-Project="Project" />
    <MudStack Row="true" Class="mt-4">
        <MudButton Href="/" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Error">Cancel</MudButton>
        <MudButton OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary">Save</MudButton>
    </MudStack>
</div>

@code {
    private ProjectDto Project { get; set; } = new ProjectDto();

    private void Save()
    {
        ProjectsService.AddAsync(Project);
        NavigationManager.NavigateTo("/");
    }
}