@page "/documentation"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stroom.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Documentation</PageTitle>

<h1>Documentation</h1>

@code {

}
