@page "/documentation"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stroom.Shared
@using Stroom.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Documentation</PageTitle>

<h1>Documentation</h1>



@code {
    private TaskDto Task { get; set; }
    private TaskDto SelectedProject { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Task = new TaskDto();
    }

    private void Cancel(){

    }

    private void Save()
    {
        
    }
}