@page "/settings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stroom.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

@code {

}