@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Stroom.Client.Services
@using Stroom.Shared
@using Stroom.Shared.Models
@using Stroom.Shared.Enums
@using static Stroom.Shared.Enums.TaskPropertiesEnums
@inject HttpClient Http
@inject IProjectsService ProjectsService
@inject IUsersService UsersService

<style>
    /*overriding framework class*/
    .mud-tooltip-root{
        width: 100% !important;
    }
</style>

<MudStack>
    <MudStack>
    <MudPaper Class="pa-4">
        <MudTextField Required="true" Class="d-inline" Style="font-weight: 500;" Typo="Typo.h5" @bind-Value="Task.Name" Immediate="true" Label="Name"/>
        <MudStack Row="true" Spacing="8">
            <MudSelect Required="true" T="ProjectDto" @bind-Value="Task.Project" Label="Project" AnchorOrigin="Origin.BottomCenter">
            @{
                if(Projects != null && Projects.Any())
                { 
                    foreach (var project in Projects)
                    {
                        <MudSelectItem Value="@project" />
                    }
                }
            }
            </MudSelect>
        </MudStack>

        <MudDivider Class="my-3"/>

        <MudStack Row="true" Spacing="4">
            <MudItem Style="width: 50%; float: left;">
                <MudStack Spacing="4">
                    <MudSelect Required="true" T="TaskPropertiesEnums.TaskStatus" @bind-Value="Task.Status" Label="Status" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var taskStatus in TaskPropertiesEnums.TaskStatuses)
                        {
                            <MudSelectItem Value="@taskStatus" />
                        }
                    </MudSelect>
                    <MudSelect Required="true" T="TaskPriority" @bind-Value="Task.Priority" Label="Priority" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var taskPriority in TaskPropertiesEnums.TaskPriorities)
                        {
                            <MudSelectItem Value="@taskPriority" />
                        }
                    </MudSelect>
                    <MudSelect Required="true" T="User" @bind-Value="Task.Assignee" Label="Assignee" AnchorOrigin="Origin.BottomCenter">
                    @{
                            if(Users != null && Users.Any())
                            {
                                foreach (var user in Users)
                                {
                                    <MudSelectItem Value="@user" />
                                }
                            }
                    }
                    </MudSelect>
                </MudStack>
            </MudItem>
            <MudItem Style="width: 50%; float: right;">
                <MudStack Spacing="4">
                    <MudDatePicker Required="true" @bind-Date="Task.SubmitionDate" Label="Submition Date" DisableToolbar="true" />
                    <MudDatePicker Required="true" @bind-Date="Task.DueDate" Label="Due Date" DisableToolbar="true" />
                    <span style="width: 100% !important;">
                        <MudTooltip Color="Color.Transparent" Placement="Placement.Bottom">
                            <ChildContent>
                                <MudNumericField Required="true" @bind-Value="Task.EstimatedTime" Label="Estimated Time" Variant="Variant.Text" Min="1" Max="99999" />
                            </ChildContent>
                            <TooltipContent>
                                <MudAlert Severity="Severity.Info" Dense="true">Tip: Use shift + mouse wheel to adjust the number</MudAlert>
                            </TooltipContent>
                        </MudTooltip>
                    </span>
                </MudStack>
            </MudItem>
        </MudStack>

        <MudDivider Class="my-3" />
        <MudStack>
            <MudTextField Class="d-inline" @bind-Value="Task.Description" Immediate="true" Label="Description" Lines="4" />
        </MudStack>
    </MudPaper>
    </MudStack>
</MudStack>

@code {
    private TaskDto _Task = new TaskDto();
    [Parameter]
    public TaskDto Task 
    {
        get => _Task;
        set
        {
            if (_Task == value) return;

            _Task = value;
            TaskChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<TaskDto> TaskChanged { get; set; }

    private ProjectDto[]? Projects { get; set; }
    private User[]? Users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Projects = await ProjectsService.GetAsync();
            Users = await UsersService.GetAsync();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}